<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/styles/home.css">

<div class="container">
    <h1 class="text-center mt-4">Team Mate Finder</h1>
    <div class="row">
        <div class="col-md-6">
            <h3 class="mt-5 text-center">Your one stop Destination for finding teammates for Hackathons, project partners or making study groups</h3>
        </div>
        <div class="col-md-6">
            <img src="/assests/tm2.jpg" width="400" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="/assests/tm4.jpg" width="450" alt="">
        </div>
        <div class="col-md-6">
            <h3 class="mt-5 text-center">Collaborate and biuld great Projects together. Find people who match your required skillset </h3>
            <div class="text-center">
                <button class="btn btn-success mx-auto myButton"><a href="/listings" class="startLink">Get Started</a></button>
            </div>
            
        </div>
    </div>
</div>